In [103]:
import openai
import pandas as pd
import random
import json
import ast

class ChatGptFakeDataGenerator:
    def __init__(self, features_list,rows_number,openai_key):
        self.features_list = features_list
        self.rows_number=rows_number
        self.openai_key=openai_key
        self.df=None
        self.generate_data()

    def get_dataframe(self):
        return self.df
            
    def get_json(self):
        return self.df.to_json()
    
    def generate_data(self):
        data_list = []
        try:
            openai.api_key = self.openai_key
            basic_query= "fake data for"+ str(self.rows_number)+ "rows with the features of "+str(self.features_list)+" in a key-value data structure format"
            answer = openai.ChatCompletion.create(model='gpt-3.5-turbo', messages=[{'role': 'user', 'content': basic_query}])
            answer = answer['choices'][0]['message']['content'].replace('\n', '')
            answer_dict=ast.literal_eval(answer)
            self.df= pd.DataFrame.from_dict(answer_dict)
            
        except:
               print("We cannot generate the data check your inputs!")

In [111]:
features_list=["first_name","last_name","age","adress","country",'scool name',"salary","favorite animal"]
rows_number=50
key_="my API key is already in the 'key' variable"
generator= ChatGptFakeDataGenerator(features_list,rows_number,key)

In [112]:
generator.get_dataframe()

,first_name,last_name,age,address,country,school_name,salary,favorite_animal
1,Amelia,Smith,25,123 Main St,USA,University of Texas,60000,Dog
2,Oliver,Johnson,31,456 Oak Ave,Canada,University of Toronto,75000,Cat
3,Liam,Brown,23,789 Elm St,USA,"University of California, Los Angeles",55000,Penguin
4,Ethan,Jones,28,234 Maple Rd,UK,University of Cambridge,90000,Giraffe
5,Ava,Davis,26,567 Pine St,USA,Harvard University,65000,Kangaroo
6,Logan,Miller,33,890 Cedar Ave,USA,Massachusetts Institute of Technology,95000,Lion
7,Sophia,Wilson,29,1234 Oak St,Canada,University of Ottawa,70000,Panda
8,Lucas,Taylor,24,5678 Walnut Blvd,USA,Michigan State University,60000,Elephant
9,Isabella,Anderson,27,9012 Maple St,UK,University of Edinburgh,80000,Wolf
10,Mason,Thomas,30,3456 Birch Ln,USA,University of Illinois at Urbana-Champaign,85000,Tiger
11,Emma,Jackson,22,7890 Cedar St,USA,University of Michigan,55000,Dolphin
12,Noah,White,29,123 Elm St,Canada,University of British Columbia,75000,Hippo
13,Madison,Davis,26,456 Pine Ave,USA,University of Florida,65000,Gorilla
14,William,Wilson,27,789 Cedar Ln,UK,University of Oxford,85000,Giraffe
15,Emily,Miller,31,1234 Maple Dr,USA,Stanford University,95000,Sloth
16,James,Jones,29,5678 Elm St,USA,California Institute of Technology,90000,Hedgehog
17,Avery,Brown,24,9012 Oak Ave,Canada,McGill University,60000,Llama
18,Alexander,Smith,28,3456 Maple Rd,UK,University of Cambridge,80000,Kangaroo
19,Lily,Johnson,26,7890 Cedar St,USA,University of Michigan,65000,Penguin
20,Benjamin,Thomas,30,123 Oak St,USA,University of Wisconsin-Madison,85000,Dog
21,Chloe,Taylor,24,456 Pine Ave,USA,"University of California, Berkeley",60000,Turtle
22,Elijah,Anderson,27,789 Cedar Ln,UK,University of Manchester,80000,Lion
23,Aria,Wilson,29,1234 Maple Dr,USA,Georgia Institute of Technology,70000,Butterfly
24,Henry,Brown,28,5678 Elm St,USA,University of Pennsylvania,90000,Elephant
25,Mia,Jones,31,9012 Oak Ave,Canada,University of Toronto,75000,Zebra
26,Jacob,Miller,33,3456 Maple Rd,USA,University of Southern California,95000,Koala
27,Evelyn,Smith,25,7890 Cedar St,UK,University of Edinburgh,65000,Panda
28,Michael,Davis,26,123 Elm St,USA,"University of California, Los Angeles",55000,Giraffe
29,Abigail,Johnson,31,456 Pine Ave,Canada,University of British Columbia,75000,Lion
30,Daniel,Taylor,24,789 Cedar Ln,USA,University of Texas,60000,Hippo
31,Harper,Brown,28,123 Oak St,USA,Harvard University,90000,Owl
32,Matthew,Thomas,30,456 Pine Ave,USA,Massachusetts Institute of Technology,85000,Penguin
33,Sofia,Wilson,29,789 Cedar Ln,UK,University of Manchester,70000,Dolphin
34,Ethan,Miller,33,1234 Maple Dr,USA,"University of California, Santa Barbara",95000,Gorilla
35,Ella,Jones,31,5678 Elm St,USA,University of Pennsylvania,90000,Seal
36,Carter,Smith,25,9012 Oak Ave,Canada,University of Toronto,75000,Hedgehog
37,Aurora,Davis,26,3456 Maple Rd,USA,University of Illinois at Urbana-Champaign,65000,Kangaroo
38,Ryan,Johnson,31,7890 Cedar St,UK,University of Oxford,85000,Lion
39,Aaliyah,Taylor,24,123 Oak St,USA,University of Michigan,60000,Dolphin
40,William,Anderson,27,456 Pine Ave,USA,Georgia Institute of Technology,80000,Elephant
41,Hannah,Brown,28,789 Cedar Ln,Canada,University of British Columbia,90000,Giraffe
42,Daniel,Miller,33,123 Elm St,USA,"University of California, Los Angeles",95000,Panda
43,Lillian,Jones,31,456 Pine Ave,USA,"University of California, Berkeley",85000,Gorilla
44,Owen,Taylor,24,789 Cedar Ln,UK,University of Edinburgh,60000,Turtle
45,Addison,Wilson,29,1234 Maple Dr,USA,University of Texas,70000,Butterfly
46,Christopher,Thomas,30,5678 Elm St,USA,Michigan State University,85000,Wolf
47,Natalie,Smith,25,9012 Oak Ave,Canada,McGill University,75000,Llama
48,Joshua,Davis,26,3456 Maple Rd,UK,University of Manchester,80000,Koala
49,Audrey,Johnson,31,7890 Cedar St,USA,Massachusetts Institute of Technology,95000,Penguin
50,David,Brown,28,123 Oak St,USA,Stanford University,90000,Giraffe

In [109]:
generator.get_json()

'{"0":{"first_name":"Alexandra","last_name":"Smith","age":27,"address":"123 Main St","country":"USA","school_name":"Harvard University","salary":75000},"1":{"first_name":"John","last_name":"Doe","age":32,"address":"456 1st Ave","country":"Canada","school_name":"University of Toronto","salary":63000},"2":{"first_name":"Jessica","last_name":"Brown","age":24,"address":"789 Park Blvd","country":"USA","school_name":"Stanford University","salary":81000},"3":{"first_name":"Michael","last_name":"Johnson","age":40,"address":"1010 Maple Ln","country":"USA","school_name":"MIT","salary":105000},"4":{"first_name":"Jennifer","last_name":"Garcia","age":29,"address":"111 River Rd","country":"Mexico","school_name":"Universidad Nacional Autonoma de Mexico","salary":55000},"5":{"first_name":"David","last_name":"Wilson","age":22,"address":"222 Elm St","country":"USA","school_name":"University of California, Berkeley","salary":50000},"6":{"first_name":"Emily","last_name":"Davis","age":26,"address":"333 Oak Ave","country":"USA","school_name":"Yale University","salary":70000},"7":{"first_name":"Robert","last_name":"Martinez","age":35,"address":"444 Pine St","country":"Mexico","school_name":"Tecnologico de Monterrey","salary":80000},"8":{"first_name":"Sarah","last_name":"Thompson","age":31,"address":"555 Cedar Blvd","country":"Canada","school_name":"McGill University","salary":95000},"9":{"first_name":"Daniel","last_name":"Taylor","age":28,"address":"666 Walnut Dr","country":"USA","school_name":"Columbia University","salary":82000},"10":{"first_name":"Linda","last_name":"Hernandez","age":39,"address":"777 Birch Pl","country":"Mexico","school_name":"Instituto Tecnologico y de Estudios Superiores de Monterrey","salary":70000},"11":{"first_name":"Christopher","last_name":"Gonzalez","age":26,"address":"888 Oakwood Ave","country":"USA","school_name":"Cornell University","salary":60000},"12":{"first_name":"Amanda","last_name":"Lee","age":24,"address":"999 Elmwood Dr","country":"USA","school_name":"Princeton University","salary":75000},"13":{"first_name":"Joshua","last_name":"Perez","age":37,"address":"1010 Garden St","country":"Mexico","school_name":"Universidad de Guadalajara","salary":88000},"14":{"first_name":"Melissa","last_name":"Nguyen","age":30,"address":"1111 Maplewood Rd","country":"USA","school_name":"California Institute of Technology","salary":92000},"15":{"first_name":"James","last_name":"Kim","age":29,"address":"1212 Pinehurst Ln","country":"Canada","school_name":"University of British Columbia","salary":80000},"16":{"first_name":"Stephanie","last_name":"Chan","age":25,"address":"1313 Cypress Dr","country":"USA","school_name":"University of Michigan","salary":65000},"17":{"first_name":"Ryan","last_name":"Chen","age":27,"address":"1414 Oakmont Ave","country":"USA","school_name":"University of Texas at Austin","salary":78000},"18":{"first_name":"Michelle","last_name":"Liu","age":22,"address":"1515 College Rd","country":"Canada","school_name":"University of Alberta","salary":60000},"19":{"first_name":"Brandon","last_name":"Park","age":31,"address":"1616 Cedarhurst Dr","country":"USA","school_name":"University of Chicago","salary":85000},"20":{"first_name":"Hannah","last_name":"Chang","age":26,"address":"1717 Greenbriar Ln","country":"USA","school_name":"Duke University","salary":72000},"21":{"first_name":"Nicholas","last_name":"Lim","age":29,"address":"1818 Willow Creek Rd","country":"Canada","school_name":"University of Waterloo","salary":93000},"22":{"first_name":"Victoria","last_name":"Wu","age":24,"address":"1919 Laurel Rd","country":"USA","school_name":"University of Pennsylvania","salary":68000},"23":{"first_name":"Tyler","last_name":"Tran","age":28,"address":"2020 Olive St","country":"USA","school_name":"University of Virginia","salary":80000},"24":{"first_name":"Katherine","last_name":"Mendoza","age":30,"address":"2121 Elmwood Ave","country":"Mexico","school_name":"Tecnologico de Monterrey","salary":71000},"25":{"first_name":"Justin","last_name":"Santos","age":33,"address":"2222 Maplewood Dr","country":"USA","school_name":"Harvard Business School","salary":95000},"26":{"first_name":"Christine","last_name":"Kim","age":25,"address":"2323 Pine St","country":"Canada","school_name":"University of Toronto","salary":60000},"27":{"first_name":"Alexander","last_name":"Fernandez","age":31,"address":"2424 Oak Ave","country":"USA","school_name":"Stanford Graduate School of Business","salary":105000},"28":{"first_name":"Megan","last_name":"Lopez","age":27,"address":"2525 Birch Ln","country":"USA","school_name":"Harvard Law School","salary":90000},"29":{"first_name":"Kevin","last_name":"Gomez","age":29,"address":"2626 Cedarwood Dr","country":"Mexico","school_name":"Universidad Panamericana","salary":70000},"30":{"first_name":"Rachel","last_name":"Rivera","age":28,"address":"2727 Pinehurst Dr","country":"USA","school_name":"University of Notre Dame","salary":79000},"31":{"first_name":"Anthony","last_name":"Flores","age":26,"address":"2828 Cypress Dr","country":"Canada","school_name":"University of British Columbia","salary":60000},"32":{"first_name":"Allison","last_name":"Gutierrez","age":25,"address":"2929 Willow Creek Rd","country":"USA","school_name":"Massachusetts Institute of Technology - Sloan School of Management","salary":85000},"33":{"first_name":"Kyle","last_name":"Martinez","age":32,"address":"3030 Laurel Rd","country":"Mexico","school_name":"Instituto Tecnologico y de Estudios Superiores de Monterrey","salary":80000},"34":{"first_name":"Lauren","last_name":"Lee","age":29,"address":"3131 Olive St","country":"USA","school_name":"Yale School of Management","salary":92000},"35":{"first_name":"Jared","last_name":"Nguyen","age":27,"address":"3232 Elmwood Ave","country":"Canada","school_name":"University of Waterloo","salary":80000},"36":{"first_name":"Vanessa","last_name":"Wong","age":24,"address":"3333 Maplewood Dr","country":"USA","school_name":"Carnegie Mellon University","salary":64000},"37":{"first_name":"Eric","last_name":"Garcia","age":30,"address":"3434 Pine St","country":"USA","school_name":"University of Michigan","salary":78000},"38":{"first_name":"Catherine","last_name":"Chen","age":28,"address":"3535 Oak Ave","country":"Mexico","school_name":"Tecnologico de Monterrey","salary":71000},"39":{"first_name":"Sean","last_name":"Kim","age":25,"address":"3636 Elmwood Ave","country":"USA","school_name":"Harvard Kennedy School","salary":98000},"40":{"first_name":"Victoria","last_name":"Lao","age":29,"address":"3737 Willow Creek Rd","country":"Canada","school_name":"University of British Columbia","salary":74000},"41":{"first_name":"Patrick","last_name":"Chu","age":30,"address":"3838 Pinehurst Dr","country":"USA","school_name":"Wharton School, University of Pennsylvania","salary":115000},"42":{"first_name":"Jacqueline","last_name":"Wu","age":26,"address":"3939 Cypress Dr","country":"USA","school_name":"NYU School of Law","salary":95000},"43":{"first_name":"Andrew","last_name":"Zhang","age":27,"address":"4040 Cedarwood Dr","country":"Canada","school_name":"University of Toronto","salary":82000},"44":{"first_name":"Samantha","last_name":"Hernandez","age":24,"address":"4141 Willow Creek Rd","country":"USA","school_name":"University of Pennsylvania Law School","salary":69000}}'

In [113]:
generator.df

,first_name,last_name,age,address,country,school_name,salary,favorite_animal
1,Amelia,Smith,25,123 Main St,USA,University of Texas,60000,Dog
2,Oliver,Johnson,31,456 Oak Ave,Canada,University of Toronto,75000,Cat
3,Liam,Brown,23,789 Elm St,USA,"University of California, Los Angeles",55000,Penguin
4,Ethan,Jones,28,234 Maple Rd,UK,University of Cambridge,90000,Giraffe
5,Ava,Davis,26,567 Pine St,USA,Harvard University,65000,Kangaroo
6,Logan,Miller,33,890 Cedar Ave,USA,Massachusetts Institute of Technology,95000,Lion
7,Sophia,Wilson,29,1234 Oak St,Canada,University of Ottawa,70000,Panda
8,Lucas,Taylor,24,5678 Walnut Blvd,USA,Michigan State University,60000,Elephant
9,Isabella,Anderson,27,9012 Maple St,UK,University of Edinburgh,80000,Wolf
10,Mason,Thomas,30,3456 Birch Ln,USA,University of Illinois at Urbana-Champaign,85000,Tiger
11,Emma,Jackson,22,7890 Cedar St,USA,University of Michigan,55000,Dolphin
12,Noah,White,29,123 Elm St,Canada,University of British Columbia,75000,Hippo
13,Madison,Davis,26,456 Pine Ave,USA,University of Florida,65000,Gorilla
14,William,Wilson,27,789 Cedar Ln,UK,University of Oxford,85000,Giraffe
15,Emily,Miller,31,1234 Maple Dr,USA,Stanford University,95000,Sloth
16,James,Jones,29,5678 Elm St,USA,California Institute of Technology,90000,Hedgehog
17,Avery,Brown,24,9012 Oak Ave,Canada,McGill University,60000,Llama
18,Alexander,Smith,28,3456 Maple Rd,UK,University of Cambridge,80000,Kangaroo
19,Lily,Johnson,26,7890 Cedar St,USA,University of Michigan,65000,Penguin
20,Benjamin,Thomas,30,123 Oak St,USA,University of Wisconsin-Madison,85000,Dog
21,Chloe,Taylor,24,456 Pine Ave,USA,"University of California, Berkeley",60000,Turtle
22,Elijah,Anderson,27,789 Cedar Ln,UK,University of Manchester,80000,Lion
23,Aria,Wilson,29,1234 Maple Dr,USA,Georgia Institute of Technology,70000,Butterfly
24,Henry,Brown,28,5678 Elm St,USA,University of Pennsylvania,90000,Elephant
25,Mia,Jones,31,9012 Oak Ave,Canada,University of Toronto,75000,Zebra
26,Jacob,Miller,33,3456 Maple Rd,USA,University of Southern California,95000,Koala
27,Evelyn,Smith,25,7890 Cedar St,UK,University of Edinburgh,65000,Panda
28,Michael,Davis,26,123 Elm St,USA,"University of California, Los Angeles",55000,Giraffe
29,Abigail,Johnson,31,456 Pine Ave,Canada,University of British Columbia,75000,Lion
30,Daniel,Taylor,24,789 Cedar Ln,USA,University of Texas,60000,Hippo
31,Harper,Brown,28,123 Oak St,USA,Harvard University,90000,Owl
32,Matthew,Thomas,30,456 Pine Ave,USA,Massachusetts Institute of Technology,85000,Penguin
33,Sofia,Wilson,29,789 Cedar Ln,UK,University of Manchester,70000,Dolphin
34,Ethan,Miller,33,1234 Maple Dr,USA,"University of California, Santa Barbara",95000,Gorilla
35,Ella,Jones,31,5678 Elm St,USA,University of Pennsylvania,90000,Seal
36,Carter,Smith,25,9012 Oak Ave,Canada,University of Toronto,75000,Hedgehog
37,Aurora,Davis,26,3456 Maple Rd,USA,University of Illinois at Urbana-Champaign,65000,Kangaroo
38,Ryan,Johnson,31,7890 Cedar St,UK,University of Oxford,85000,Lion
39,Aaliyah,Taylor,24,123 Oak St,USA,University of Michigan,60000,Dolphin
40,William,Anderson,27,456 Pine Ave,USA,Georgia Institute of Technology,80000,Elephant
41,Hannah,Brown,28,789 Cedar Ln,Canada,University of British Columbia,90000,Giraffe
42,Daniel,Miller,33,123 Elm St,USA,"University of California, Los Angeles",95000,Panda
43,Lillian,Jones,31,456 Pine Ave,USA,"University of California, Berkeley",85000,Gorilla
44,Owen,Taylor,24,789 Cedar Ln,UK,University of Edinburgh,60000,Turtle
45,Addison,Wilson,29,1234 Maple Dr,USA,University of Texas,70000,Butterfly
46,Christopher,Thomas,30,5678 Elm St,USA,Michigan State University,85000,Wolf
47,Natalie,Smith,25,9012 Oak Ave,Canada,McGill University,75000,Llama
48,Joshua,Davis,26,3456 Maple Rd,UK,University of Manchester,80000,Koala
49,Audrey,Johnson,31,7890 Cedar St,USA,Massachusetts Institute of Technology,95000,Penguin
50,David,Brown,28,123 Oak St,USA,Stanford University,90000,Giraffe